{% extends 'base.html' %}
{% load static %}      
{% block title %}Update Password{% endblock %}
{% block content %}
        
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'core:update_user' %}">Account</a></li>
            <li class="breadcrumb-item active">Update Password</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<br/>

<!-- Update Password Start -->
<div class="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">    
                <div class="register-form">
					<h4>
						<form method="POST" action="{% url 'core:update_password' %}">
                    	    {% csrf_token %}
							{{ form.as_p }}
                    		<div class="row">
                    		    <div class="col-md-12">
                    		        <button class="btn">Update Password</button>
                    		    </div>
                    		</div>
						</form>
					</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Update Password End -->

<br/><br/>
<br/><br/>

{% endblock %}