{% extends 'base.html' %}
{% load static %}      
{% block title %}Billing Info{% endblock %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Billing Info</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
       <!-- Checkout Start -->
       <div class="checkout">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-payment">
                        <h1>Cart Items</h1>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% if cart_products %}
                                    {% for product in cart_products %}
                                    <tr>
                                        <td>
                                            <div class="img">
                                                <a href="{% url 'core:product-detail' product.id %}"><img src="{{ product.image1.url }}" alt="Image" style="width: 150px; height: 150px;"></a>
                                                <p><strong>{{ product.name }}</strong></p>
                                            </div>
                                        </td>
                                        <td>${{ product.price }}</td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input id="select{{ product.id }}" type="number" min="1"
                                                {% if quantities %}
                                                {% for key, value in quantities.items %}
                                                    {% if key == product.id|slugify %}
                                                        value="{{ value }}"
                                                    {% endif %}
                                                {% endfor %}
                                                {% else %}
                                                value="1"
                                                {% endif %}
                                                >
                                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout-btn">
                            <a href="{% url 'payment:create_checkout_session' %}"><button>Place Order</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-payment">
                            <div class="payment-methods">
                                <h1>Cart Total</h1>
                                <p class="sub-total">Number of Items<span>&nbsp;{{ cart|length }}</span></p>
                            <p class="ship-cost">Shipping Cost<span>&nbsp;$1</span></p>
                            <h2>Grand Total<span>&nbsp;${{ totals }}</span></h2>
                            </div>
                            <div class="checkout-btn">
                                <a href="{% url 'cart:cart_summary' %}"><button>Update Cart</button></a>
                            </div>
                        </div>
                        <br/><br/><br/>
                        <div class="checkout-payment">
                            <div class="payment-methods">
                                <h1>Shipping Info</h1>
                                <b>Name: </b><br/><mark>{{ shipping_info.shipping_full_name }}</mark><br/><br/>
                                <b>Email: </b><br/><mark>{{ shipping_info.shipping_email }}</mark><br/><br/>
                                <b>Address 1: </b><br/><mark>{{ shipping_info.shipping_address1 }}</mark><br/><br/>
                                <b>Address 2: </b><br/><mark>{{ shipping_info.shipping_address2 }}</mark><br/><br/>
                                <b>City: </b><br/><mark>{{ shipping_info.shipping_city }}</mark><br/><br/>
                                <b>State: </b><br/><mark>{{ shipping_info.shipping_state }}</mark><br/><br/>
                                <b>ZipCode: </b><br/><mark>{{ shipping_info.shipping_zipcode }}</mark><br/><br/>
                                <b>Country: </b><br/><mark>{{ shipping_info.shipping_country }}</mark><br/><br/>
                            </div>
                            <div class="checkout-btn">
                                <a href="{% url 'payment:checkout' %}"><button>Update Info</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
       
        
{% endblock %}