{% extends 'base.html' %}
{% load static %}      
{% block title %}Payment Success{% endblock %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Payment Success</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <h1>Payment Successful</h1>
        <p>Thank you for your purchase!</p>
        
{% endblock %}