{% extends 'base.html' %}
{% load static %}      
{% block title %}Process Order{% endblock %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Process Order</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container-fluid"> 
                <div class="row">
                    {% if cart_products %}
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for product in cart_products %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="{% url 'core:product-detail' product.id %}"><img src="{{ product.image1.url }}" alt="Image" style="width: 150px; height: 150px;"></a>
                                                    <p><strong>{{ product.name }}</strong></p>
                                                </div>
                                            </td>
                                            <td>${{ product.price }}</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input id="select{{ product.id }}" type="number" min="1"
                                                    {% if quantities %}
                                                    {% for key, value in quantities.items %}
                                                        {% if key == product.id|slugify %}
                                                            value="{{ value }}"
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% else %}
                                                    value="1"
                                                    {% endif %}
                                                    >
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
						<div class="checkout-payment">
							<div class="checkout-btn">
								<a href="{% url 'cart:cart_summary' %}" class="btn"><i class="fa fa-shopping-cart"></i>&nbsp;Update Cart</a>
							</div>
						</div>
                        <div class="register-form">
                            <form method="POST" action="{% url 'payment:billing_info' %}">
                                <br/><h4><strong>Shipping Information</strong></h4><br/>
                                {% csrf_token %}
                                <strong>Name: </strong>{{ shipping_info.shipping_full_name }}<br/>
                                <strong>Email: </strong>{{ shipping_info.shipping_email }}<br/>
                                <strong>Address 1: </strong>{{ shipping_info.shipping_address1 }}<br/>
                                <strong>Address 2: </strong>{{ shipping_info.shipping_address2 }}<br/>
                                <strong>City: </strong>{{ shipping_info.shipping_city }}<br/>
                                <strong>State: </strong>{{ shipping_info.shipping_state }}<br/>
								<strong>ZipCode: </strong>{{ shipping_info.shipping_zipcode }}<br/>
                                <strong>Country: </strong>{{ shipping_info.shipping_country }}<br/><br/>
                                <div class="checkout-payment">
                                    <div class="checkout-btn">
                                        <a href="{% url 'payment:checkout' %}" type="submit" class="btn">Update Shipping</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br/>
						<div class="register-form">
                            <form method="POST" action="{% url 'payment:process_order' %}">
                                <br/><h4><strong>Billing Information</strong></h4><br/>
                                {% csrf_token %}
                                {{ billing_form.as_p }}
                                <div class="checkout-payment">
                                    <div class="checkout-btn">
                                        <button type="submit" class="btn">Place Order</button>
                                    </div>
                                </div>
								<br/>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-4">
                        <div class="checkout-inner">
                            <div class="checkout-summary">
                                <h1>Cart Total</h1>
                                <p class="sub-total">Number of Items<span>{{ cart|length }}</span></p>
                                <p class="ship-cost">Shipping Cost<span>$1</span></p>
                                <h2>Grand Total<span>${{ totals }}</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->
        
{% endblock %}