{% extends 'base.html' %}
{% load static %}      
{% block title %}Shipped Items{% endblock %}
{% block content %}
        

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
			<div class="container-fluid">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'core:update_user' %}">Account</a></li>
                    <li class="breadcrumb-item active">Shipped Items</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Order</th>
                                            <th>Price</th>
                                            <th>Customer Email</th>
                                            <th>Date Shipped</th>
											<th>Shipped</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
										{% for item in orders %}
                                        <tr>
                                            <td>
												<p><a href="{% url 'payment:orders' item.id %}">{{ item.id }}</a></p>
                                            </td>
                                            <td>${{ item.amount_paid }}</td>
                                            <td>
                                                {{ item.email }}
                                            </td>
                                            <td>{{ item.date_shipped }}</td>
											<td>
												<form method="POST">
													{% csrf_token %}
													<input type="hidden" name="shipping_status" value="false">
													<input type="hidden" name="num" value={{item.id}}>
													<button type="Submit" class="btn-cart">Mark UnShipped</button>
												</form>
											</td>
										
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
		<br/><br/>
        
{% endblock %}