{% extends 'base.html' %}
{% load static %}      
{% block title %}Stripe Checkout{% endblock %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Stripe Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <h1>Stripe Checkout</h1>
        <p>
            <form action="{% url 'payment:create_checkout_session' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Pay Now</button>
            </form>
        </p>
        
{% endblock %}